In [1]:
import json
import numpy as np
import os

In [1]:
f_l = os.listdir('./sequence/')
print(f_l)

['9_143800744.json', '3_224548317.json', '5_215525767.json', '1_135401720.json', '9_12797477.json', '8_25355951.json', '7_169445814.json', '8_88472086.json', '6_147252734.json', '7_165838904.json', '10_53548632.json']

In [14]:
for k in f_l:
    with open('./sequence/' + k, 'r', encoding='utf-8') as f:
        sequences = json.load(f)
    for i in range(100):
        total = (60*300*4 + 1000) / 50
        for j in range(len(sequences[i])):
            if j == 0:
                total -= 1000 / 50
                sequences[i][j]['Reward'] = total
            else:
                total -= sequences[i][j-1]['Action'][0] * sequences[i][j-1]['Action'][1] // 50
                sequences[i][j]['Reward'] = total
    with open('./sequence_pos/' + k, 'w', encoding='utf-8') as f:
        json.dump(sequences, f, ensure_ascii=False)

In [15]:
import os
import json
f_l = os.listdir('./sequence/')
for k in f_l:
    with open('./sequence_pos/' + k, 'r', encoding='utf-8') as f:
        sequences = json.load(f)
    for i in range(100):
        total = sequences[i][len(sequences[i])-1]['Reward']
        for j in range(len(sequences[i])-2, -1, -1):
            sequences[i][j]['Reward'] = total
    with open('./sequence_pos/' + k, 'w', encoding='utf-8') as f:
        json.dump(sequences, f, ensure_ascii=False)

In [5]:
import pandas as pd
gene = pd.read_csv('./data/Corn_Genetic_Map.map', delimiter='\t')
markers = gene['marker'].to_list()
with open('./markers.json', 'w', encoding='utf-8') as f:
    json.dump(markers, f, ensure_ascii=False)
with open('./markers.json', 'r', encoding='utf-8') as f:
    markers = json.load(f)
target = np.random.choice(markers)
target

'3_3450008'

In [10]:
samples = pd.read_csv('./BCres/BC1F1/BC1F1.samples', delimiter='\t').sort_values(by='PRPG', ascending=False)
samples.loc[samples['Length(left)'] < 5.25, 'Pl'] = 1.0
samples.loc[samples['Length(left)'] >= 5.25, 'Pl'] = 0.2
samples

       samples      Start        End  Length(left)  Length(right)   PRPG   Pl
409  BC1F1_820  168490501  217668263         47.04           2.14  0.897  0.2
341  BC1F1_693    3091146  217668263        212.43           2.14  0.884  0.2
55   BC1F1_119   35669254  217668263        179.86           2.14  0.879  0.2
207  BC1F1_430  206894340  217668263          8.63           2.14  0.872  0.2
240  BC1F1_498   74644539  217668263        140.88           2.14  0.867  0.2
..         ...        ...        ...           ...            ...    ...  ...
218  BC1F1_454  199430720  217668263         16.10           2.14  0.621  0.2
374  BC1F1_756  206894340  217668263          8.63           2.14  0.614  0.2
39    BC1F1_86    1526279  217668263        214.00           2.14  0.611  0.2
158  BC1F1_324  212731495  217668263          2.79           2.14  0.593  1.0
389  BC1F1_789    3539158  217668263        211.99           2.14  0.590  0.2

[484 rows x 7 columns]

In [17]:
record = pd.DataFrame(columns=['PRPG', 'Nt', 'pl', 'pr', 'nums', 'bc_nums', 'Reward'])
record.loc[0, :] = [0.75, 2, 0.1, 0.2, 45, 150] + [0.0]
record.loc[1, :] = [0.75, 2, 0.1, 0.2, 45, 150] + [0.0]
record.loc[:, 'Reward'] = 150
record

   PRPG Nt   pl   pr nums bc_nums Reward
0  0.75  2  0.1  0.2   45     150    150
1  0.75  2  0.1  0.2   45     150    150